<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="TypeRefHasher" Language="1033" Version="1.0.0" Manufacturer="G DATA CyberDefense AG" UpgradeCode="1937b324-84a7-42a1-9eaa-67014f4d91d4">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of TypeRefHasher is already installed." />
    <MediaTemplate />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder'>
        <Directory Id='INSTALLDIR' Name='TypeRefHash'>
          <Component Id='MainExecutable' Guid='092b93b8-bf9e-4af5-ae04-590f6539b7fe'>
            <File Id='TrhExe' Name='trh.exe' Source='..\..\artifacts\trh.exe' Vital='yes' />
            <RemoveFolder Id="INSTALLDIR" On="uninstall" />
            <Environment Id='UpdatePath' Name='PATH' Action='set' Permanent='no' System='yes' Part='last' Value='[INSTALLDIR]' />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Level="1">
      <ComponentRef Id='MainExecutable' />
    </Feature>

  </Product>
</Wix>
